# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Jupyter and editor files
.ipynb_checkpoints/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Optional: build and distribution folders
build/
dist/
*.egg-info/

# Package managers
pip-log.txt
pip-delete-this-directory.txt
